.homepage-title{
    background-image: url('../../../public/images/brooklyn.png');
    background-size: cover;
    height: 500px;
    background-position: center;
}
.homepage-heading{
    color: white;
    text-align: center;
    position: relative;
    top: 120px;
    font-size: 500%;
}
@media screen and (min-width:1440px) {
    .homepage-heading{
        font-size: 350% !important;
    }
    .homepage-title{
        position: relative;
        top: 75px;
    }
}
@media screen and (min-width:1024px) {
    .homepage-heading{
        font-size: 250% !important;
    }
}
@media screen and (min-width:500px) {
    .homepage-title{
        font-size: 150% !important;
    }
}

@media screen and (min-width:320px) {
    .homepage-heading{
        font-size: 200%;
    }
}